/* GLOBAL */
:root {
    --font-tan: rgb(151,128,118);
    --font-crimson: rgb(90,25,10);
    --bg-crimson-fade-top-medium: linear-gradient(rgba(90,25,10,0.75),rgba(255,255,250,0));
    --bg-crimson-fade-bottom-strong: linear-gradient(rgba(0,0,0,0),rgb(90,25,10));
    --faded-crimson: rgba(90,25,10,0.75)
}

.contents {
    min-height: calc(100vh - 44px)
}

.no-small-screen {
    display: none;
}

body {
    background-image: url('../public/images/coals.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center
}

img {
    height: 150px;
    width: 300px;
    border-radius: 15px;
}

.link-text {
    font-family: 'Metal Mania', cursive;
    color: var(--font-tan);
    -webkit-text-stroke: 1px var(--font-crimson);
    -moz-text-stroke: 1px var(--font-crimson);
}

form {
    color: var(--font-tan)
}

.render {
    font-family: 'Metal Mania', cursive;
    color: var(--font-tan);
    -webkit-text-stroke: 1px var(--font-crimson);
    -moz-text-stroke: 1px var(--font-crimson);
}

/* HEADER */

#header-navbar {
    background-color: rgba(90,25,10,0.75) !important;
    font-family: 'Metal Mania', cursive;
}

.dropdown-menu {
    background-image: linear-gradient(var(--faded-crimson) 0, var(--font-tan) 15%, var(--font-tan) 50%, var(--font-tan) 85%, var(--faded-crimson) 100%);
}

a.dropdown-item {
    color: var(--font-crimson);
}

.header {
    width: 100%;
    margin: 0 auto;
    padding: 3px;
    font-family: 'Metal Mania', cursive;
    background-image: var(--bg-crimson-fade-top-medium);
    color: var(--font-tan);
    font-size: 2em;
    -webkit-text-stroke: 3px var(--font-crimson);
    -moz-text-stroke: 3px var(--font-crimson);
    /* text-stroke: 3px var(--font-crimson); */
}

.header > h1#header-title, h5 {
    margin-top: 5px;
    margin-bottom: 10px;
}

.header > h5 {
    -webkit-text-stroke: 1px var(--font-crimson);
    -moz-text-stroke: 1px var(--font-crimson);
    /* text-stroke: 1px var(--font-crimson); */
}

#login-title {
    font-size: 2em !important;
}

.header > h1 {
    font-size: 2em !important;
}

.header > h5#header-subtitle {
    font-size: 1em !important;
}

#login-title {
    font-family: 'Metal Mania', cursive;
    color: var(--font-tan);
    -webkit-text-stroke: 1px var(--font-crimson);
    -moz-text-stroke: 1px var(--font-crimson);
}

.logout-button {
    font-size: 18px;
    font-family: 'Supermercado One', cursive !important;
}

/* FOOTER */

.footer {
    color: var(--font-tan);
    background: linear-gradient(rgba(0,0,0,.0) 5%, rgba(0,0,0,.75) 40%);
    padding-bottom: 10px;
    padding-top: 10px;
}

/* MAIN */

.main-container {
    font-family: 'Metal Mania', cursive;
    color: var(--font-tan);
    -webkit-text-stroke: 1px var(--font-crimson);
    -moz-text-stroke: 1px var(--font-crimson);
}

.main-p {
    padding: 10px;
    font-size: larger;
    background-image: linear-gradient(rgba(0,0,0,0) 0, rgba(0,0,0,0.75) 15%, rgba(0,0,0,0.75) 85%, rgba(0,0,0,0) 100%)
}

.top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* INDEX */

.item-container {
    background-color: rgba(0,0,0,0.5);
    margin: 5px;
    padding: 5px;
    width: 90%;
    border-radius: 25px;
    color: var(--font-tan)
}

/* SHOW */

.show-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    margin: 0 auto;
    padding: 5px;
    width: 90%;
    border-radius: 25px;
    color: var(--font-tan)
}

.show-specs > h1 {
    font-family: 'Metal Mania', cursive;
    -webkit-text-stroke: 1px var(--font-crimson);
    -moz-text-stroke: 1px var(--font-crimson);
    font-weight: bolder;
}

.show-description {
    background-color: rgba(150,150,150,0.5);
    color: black;
    padding: 10px;
    border-radius: 25px;
}


/* EDIT/CREATE */

.edit-container, .new-container {
    background-color: rgba(0,0,0,0.5);
    margin: 0 auto;
    padding: 5px;
    width: 90%;
    border-radius: 25px;
    color: var(--font-tan);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

textarea, .edit-container > input {
    width: 80%;
}

.edit-container > h1, h3 {
    font-family: 'Metal Mania', cursive;
    -webkit-text-stroke: 1px var(--font-crimson);
    -moz-text-stroke: 1px var(--font-crimson);
}

.new-container > h1, h3 {
    font-family: 'Metal Mania', cursive;
    -webkit-text-stroke: 1px var(--font-crimson);
    -moz-text-stroke: 1px var(--font-crimson);
}

/* TABLET QUERIES */
@media (min-width: 480px) {
    #index-container > .item-container {
        display: flex;
        justify-content: space-between;
    }
    .no-small-screen {
        display: block;
    }
    .header {
        font-size: 4em;
    }
    .item-text-container {
        display: flex;
        flex-direction: column;
        padding-right: 5px;
    }
    .item-text-container > * {
        display: flex;
        justify-content: right;
        padding: 5px;
        margin: 0;
    }
    img {
        border-radius: 20px;
    }
    .show-container-sublevel {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
    }
    .show-specs {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        text-align: right;
    }
    .show-admin-options {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .show-description {
        text-align: left;
        margin: 0px 10px 0px 10px;
    }
}

/* COMPUTER QUERIES */
@media (min-width: 769px) {
    h1.header-title {
        font-size: 3em;
    }
    h5.header-title {
        font-size: 1em;
    }
}

@media (min-width: 1200px) {
    .item-container {
        width: 60%
    }
    h1#header-title {
        font-size: 5em !important;
        
    }
}